<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light"">
    <a class="navbar-brand" href="#">GAEC Engoulevents</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.php">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Fleurs.php">Les fleurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="About.html">Informations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Panier.php">Panier</a>
</li>
     
      </ul>
     
      <a  class="btn btn-danger" href="Connexion.html">Connexion</a>
      
    </div>


  </nav>


<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
   
    </div>

    <div class="col-sm-8 text-left"> 
      <h1>Quelques informations </h1>
              <div id="content" class="site-content">
                <article>
                    <div class="content-1330 center-relative">
                        <div class="one_half">
                            <h1>Contact</h1>
                            <h3>Retrouvez nous à la serre 
                                Et sur les marchés de Montceau les mines 
                            </h3>
                            <p>&nbsp;</p>
                            
                            <p>&nbsp;</p>                            
                            <p>
                                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=4.336158335208894%2C46.78123984073246%2C4.338212907314301%2C46.782297791725235&amp;layer=mapnik&amp;marker=46.7817688188275%2C4.337185621261597" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=46.78177&amp;mlon=4.33719#map=19/46.78177/4.33719">Afficher une carte plus grande</a></small>
                            </p>
                        </div>
                        <div>
                            <strong>Numéro de téléphone:</strong>
                            <p>06-48-78-56-32</p>
                            <strong>Email :</strong>
                            <p>email@boubou.fr</p>
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                </article>


            </div>
   
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>



</body>
</html>